* {
	padding: 0;
	margin: 0;
}

body {
	justify-content: center;
	text-align: center;
}

#draw {
	border: 4px solid #ef8585;
	border-radius: 10px;
}

.btn {
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
	font-weight: 700;
	margin: 10px;
	padding: 5px 20px;
	background-color: #fbbdac;
	border: 2px solid #ef8585;
	border-radius: 5px;
}

.btn:hover {
	background-color: #ef8585;
}

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}

.hidden {
	display: none;
}

#colorSelectMenu ul {
	height: 85px;
	width: 40%;
	display: flex;
	flex-flow: wrap;
	align-content: center;
	justify-content: center;
}

#colorSelectMenu li {
	font-size: 14px;
	font-family: monospace;
	padding: 0px 10px;
	list-style: none;
}

input[type="radio"] {
	margin: 0 5px 0 10px;
}

input[type=button]{
  -webkit-appearance: button;
}

@media only screen and (max-width: 768px) {

}
